<div class="container">
  <div id="issues_calendar" class="issues_calendar row">
    <div id="issues_calendar_title">
    <h2 align="center">
      <%= link_to("<<", main_app.hyrax_newspaper_title_path(params[:id], year: years[:previous])) if years[:previous] %>
      Issues:
      <% if (years[:all] && years[:all].count >= 1) %>
        <% year_select_options = Hash[years[:all].collect { |y| [y, url_for(main_app.hyrax_newspaper_title_path(params[:id], year: y))] }] %>
        <%= select_tag :year, options_for_select(year_select_options, selected=url_for(main_app.hyrax_newspaper_title_path(params[:id], year: years[:current]))) %>
      <% else %>
        <%= years[:current] %>
      <% end %>
      <%= link_to(">>", main_app.hyrax_newspaper_title_path(params[:id], year: years[:next])) if years[:next] %>
    </h2>
    </div>
    <div id="issues_calendar_body" class="row">
    <% for month in 1..12 %>
      <div id="issues_calendar-month" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <h2 class="text-center1"><%= Date::MONTHNAMES[month] %></h2>
        <div id="issue_calendar_days_container">
          <% for day_name in 0..6 %>
            <div class="calendar_day">
              <%= Date::DAYNAMES[day_name][0..1] %>
            </div>
          <% end %>
        </div>
      <% month_start = Date.new(years[:current], month) %>
      <% month_end = ((month_start>>1)-1) %>
      <% month_start_print = month_start - month_start.wday %>
      <% month_end_print = (month_end + 6) - (month_end.wday) %>
      <% (month_start_print).upto(month_end_print) do |d| %>
        <% day_is_in_current_month = d.month == month ? true : false %>
        <div class="day calendar_day <%= "calendar_day_inactive" if !day_is_in_current_month  %> <%= "adjacent_month" if d.month != month %> <%= "cal-#{d.strftime("%Y-%m-%d")}" %>">
          <% issue = issues.select {|issue| Date.parse(issue["publication_date_dtsim"].first) == d }.first %>
          <% if issue && day_is_in_current_month %>
            <strong><%= link_to d.day, main_app.hyrax_newspaper_issue_path(issue) %></strong>
          <% else %>
            <%= d.day %>
          <% end %>
        </div>
        <% if d.wday == 6 %>
          <br>
        <% end %>
      <% end %>
      </div>
      <% if month % 4 == 0 %>
        <div class="clearfix visible-lg-block"></div>
      <% end %>
      <% if month % 3 == 0 %>
        <div class="clearfix visible-md-block"></div>
      <% end %>
      <% if month % 2 == 0 %>
        <div class="clearfix visible-sm-block"></div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#year').on('change', function() { window.location = $(this).val() });
  });
</script>
