<div id="issue_search_form_wrapper" class="row">
  <%= form_tag main_app.search_catalog_path,
               method: :get,
               id: 'issue_search_form',
               class: 'form-inline' do %>

    <%= render_hash_as_hidden_fields(search_state.params_for_search
                                                 .except('q', 'search_field', 'qt', 'page')
                                                 .merge(@presenter.title_search_params)) %>
    <%= hidden_field_tag :search_field, 'all_fields' %>

    <div class="form-group">
      <label for="q_issues" class="sr-only"><%= t('iiif_print.title_search_form.label') %></label>
      <div class="input-group">
        <%= text_field_tag :q,
                           params[:q],
                           required: true,
                           placeholder: t('iiif_print.title_search_form.placeholder'),
                           class: 'q form-control',
                           id: 'q_issues',
                           autofocus: false %>

        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" id="issue-search">
          <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
          <span class="glyphicon glyphicon-search glyphicon-white"></span>
        </button>
      </span>
      </div>
    </div>
    <%= render 'iiif_print/newspapers_search/front_pages_input' %>
  <% end %>
</div>
