<%# based on hyrax/app/views/hyrax/base/show.html.erb %>
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'hyrax/base/work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'hyrax/base/work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <%= render partial: "hyrax/newspaper_titles/issue_search_form", presenter: @presenter %>
        <%= render partial: "hyrax/newspaper_titles/all_front_pages_form", presenter: @presenter %>
        <% if @presenter.year %>
            <%= render partial: "hyrax/newspaper_titles/issues_calendar",
                                 locals: { issues: @presenter.issues,
                                           years: { current: @presenter.year, previous: @presenter.prev_year, next: @presenter.next_year } } %>
        <% end %>
        <div class="row">
          <%= render 'hyrax/base/workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.iiif_viewer? %>
            <div class="col-sm-12">
              <%= render 'hyrax/base/representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <div class="col-sm-3 text-center">
            <%= render 'hyrax/base/representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer? %>
            <%= render 'hyrax/base/citations', presenter: @presenter %>
            <%= render 'hyrax/base/social_media' %>
          </div>
          <div class="col-sm-9">
            <%= render 'hyrax/base/work_description', presenter: @presenter %>
            <%= render 'newspaper_works/base/metadata', presenter: @presenter %>
          </div>
          <div class="col-sm-12">
            <%= render 'hyrax/base/relationships', presenter: @presenter %>
            <%= render 'hyrax/base/items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%#= render 'sharing_with', presenter: @presenter %>
            <%#= render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
